/* COLORS 

White #fffff
Independence #615D6C
Fire Opal #E3655B
yellow Orange #F2A541
*/

.nav-bar{
    background-color:#ffffff;
}

.nav-bar >*{
    color: #ffffff;
}

.nav-bar a:hover{
    color: #E3655B;
}

.nav-links{
    background-color: #E3655B;
}

.main-body{
    background-color: #615D6C;
    padding-bottom: 20px;
}

.footer{
    background-color: #E3655B;
    height: 200px;
}

.home-p1{
    color: #0F1B2E;
}

hr{
    border: 1px solid white;
    max-width: 310px;
}

.bg-white{
    background-color: white;
}

.bg-d-purple{
    background-color: #615D6C ;
}

.f-white{
    color: #ffffff;
}

.f-red{
    color: #e3655b;
}

/* MEDIUM SCREENS (iPad or a bit larger) */
@media (min-width: 768px){

    .nav-links{
        background-color: #ffffff;
    }

    hr{
        border: 1px solid white;
        max-width: 728px;
    }
}

/* MEDIUM SCREENS (iPad or a bit larger) */
@media (min-width: 1024px) {

    hr{
        border: 1px solid white;
        max-width: 984px;
    }


}