
p{
    font-family: 'Roboto', sans-serif; 
}

h1,h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
}

.nav-bar{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* blockquote styling */

blockquote{
	font-size: 12px;
	width:60%;
	margin:50px auto;
	font-family:Open Sans;
	font-style:italic;
	color: #615D6C;
	padding:1.2em 30px 1.2em 75px;
	border-left:8px solid #E3655B;
	line-height:1.6;
	position: relative;
	background: #ffffff;
  }
  
  blockquote::before{
	font-family:Arial;
	content: "\201C";
	color:#E3655B;
	font-size:4em;
	position: absolute;
	left: 10px;
	top:-10px;
  }
  
  blockquote::after{
	content: '';
  }
  
  blockquote span{
	display:block;
	color:#615D6C;
	font-style: normal;
	font-weight: bold;
	margin-top:1em;
  }

/* Form styling */

.form-style{
    font-family: 'Roboto', sans-serif; 
}

.form-heading{
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	padding-bottom: 3px;
}

.form-style label{
	display: block;
	margin: 0px 0px 20px 0px;
}

.form-style label > span{
	width: 100px;
	float: left;
	padding-right: 5px;
}

.button{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #E3655B;
	color: #fff;
	border-radius: 3px;
	float: right;
}

.expdate{
    width: 25%;
}


/* MEDIUM SCREENS (iPad or a bit larger) */
@media (min-width: 768px) {
    
/* blockquote styling */

blockquote{
	font-size: 20px;
	margin:50px auto;
	font-family:Open Sans;
	font-style:italic;
	color: #615D6C;
	padding:1.2em 30px 1.2em 75px;
	border-left:8px solid #E3655B;
	line-height:1.6;
	position: relative;
	background: #ffffff;
  }
  
  blockquote::before{
	font-family:Arial;
	content: "\201C";
	color:#E3655B;
	font-size:4em;
	position: absolute;
	left: 10px;
	top:-10px;
  }
  
  blockquote::after{
	content: '';
  }
  
  blockquote span{
	display:block;
	color:#615D6C;
	font-style: normal;
	font-weight: bold;
	margin-top:1em;
  }

  .button{
	  position: relative;
	  bottom: -50px;
  }

}

/* * LARGE SCREENS (Desktop and larger) */
@media (min-width: 1024px) {

	.f-20{
		font-size: 20px;
	}

	blockquote{
		font-size: 25px;
		width: 60%;
		margin:50px auto;
		font-family:Open Sans;
		font-style:italic;
		color: #615D6C;
		padding:1.2em 30px 1.2em 75px;
		border-left:8px solid #E3655B;
		line-height:1.6;
		position: relative;
		background: #ffffff;
	  }
	  
	  blockquote::before{
		font-family:Arial;
		content: "\201C";
		color:#E3655B;
		font-size:4em;
		position: absolute;
		left: 10px;
		top:-10px;
	  }
	  
	  blockquote::after{
		content: '';
	  }
	  
	  blockquote span{
		display:block;
		color:#615D6C;
		font-style: normal;
		font-weight: bold;
		margin-top:1em;
	  }

	.button{
		position: relative;
		bottom: -85px;
	}	
}