/*color*/

.bg-primary{
    background-color: #CC2936;
}
.bg-secondary{
    background-color: #143642;
}
.bg-dark{
    background-color: #630345;
}
.bg-light{
    background-color: #CFD2B2;
}
.bg-accent{
    background-color: #8A95A5;
}


.primary{
    color: #CC2936;
}
.secondary{
    color: #143642;
}
.dark{
    color: #630345;
}
.light{
    color: #CFD2B2;
}
.accent{
    color: #8A95A5;
}