/*color*/

.bg-primary{
    background-color: #771827;
}
.bg-secondary{
    background-color: #707070;
}
.bg-dark{
    background-color: #3f0d12;
}
.bg-light{
    background-color: #f1e8cc;
}
.bg-accent{
    background-color: #7c3943;
}
.bg-accent2{
    background-color: #9e7c4f;
}

a{
    color: #f1e8cc;
}

.primary{
    color: #a71d31;
}
.secondary{
    color: #707070;
}
.dark{
    color: #3f0d12;
}
.light{
    color: #dce0d9;
}
.accent{
    color: #7c3943;
}

/*primary 2

.bg-primary2{
    background-color: #005c69;
}
.bg-secondary2{
    background-color: #e3b23c;
}
.bg-dark2{
    background-color: #1b1b1a;
}
.bg-light2{
    background-color: #edebd7;
}


.primary2{
    color: #005c69;
}
.secondary2{
    color: #e3b23c;
}
.dark2{
    color: #1b1b1a;
}
.light2{
    color: #edebd7;
}
.accent2{
    color: #9e7c4f;
}
*/
/*primary 3

.bg-primary3{
    background-color: #51344D;
}
.bg-secondary3{
    background-color: #AF9B46;
}
.bg-dark3{
    background-color: #002400;
}
.bg-light3{
    background-color: #FBFBF2;
}
.bg-accent3{
    background-color: #114B5F;
}


.primary3{
    color: #51344D;
}
.secondary3{
    color: #AF9B46;
}
.dark3{
    color: #002400;
}
.light3{
    color: #FBFBF2;
}
.accent3{
    color: #114B5F;
}*/