@import url('reset.css');
@import url('colors.css');
@import url('layout.css');
@import url('font.css');

/*
grid-column-start: 1;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  grid-row-end: span 2;
  */

.list{
    height: 200px;
    width: auto;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

form{
  display: inline-block;
  margin-left: 25px;
}
