
.nav-bar{
    font-size: 20px;
    font-family: 'Marcellus', serif;
}

.home-p1{
    font-family: 'Sen', sans-serif;
}

/* MEDIUM SCREENS (iPad or a bit larger) */
@media (min-width: 768px) {
    
.home-p1{
    height: 200px;
}


}


/* Sen
font-family: 'Sen', sans-serif; */

/* Laila
font-family: 'Laila', sans-serif; */

/* Marcellus
font-family: 'Marcellus', serif; */

/* Bellefair
font-family: 'Bellefair', serif; */

