.hero-image{
    background-size: cover;
    height: 200px;
}


/* MEDIUM SCREENS (iPad or a bit larger) */
@media (min-width: 768px) {

.hero-image{
     background-size: cover;
     height: 400px;
}
    
}