/* DISPLAY PROPERTIES */

.d-inline-block {
    display: inline-block;
}

.d-none {
    display: none;
}

a:visited{
    text-decoration: none;
    color: #0F1B2E;
}

.menu-img{
    height: 30px;
}

.active{
    display: block;
}

.hide { display: none; 
}
@media(min-width: 768px){
    .d-md-inline-block {
        display: inline-block;
    }
    
    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }
}


/* SPACING PROPERTIES */

.p-1 {
    padding: 12px;
}

.p-2 {
    padding: 24px;
}

/* TYPOGRAPHY */
.text-center {
    text-align: center;
}

h1{
    font-size: 3rem;
}

.txt-shadow{
    text-shadow: 1px 1px 3px black;
}


@media (min-width: 768px) {
    h1 {
        font-size: 6vw;
    }
}

@media (min-width: 1024px){
    h1 {
        font-size: 3rem;
    }
}